.firstline,.first_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}
.firstline button{
    border: none;
    font-weight: 700;
    cursor: pointer;
    background-color: #fff;
}
.dashmain{
    border:2px solid black;
    border-radius: 15px;
    width: 50vw;
    padding: 15px;
    
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.txtdate{
    padding:5px;
    background-color:#c4c4c4;
    font-weight: bold;
}